<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <script src="../app.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Quicksand" rel="stylesheet">
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between fixed-top navbar-style" >
        <a class="navbar-brand text-light" href="/">BoredPanda Scraper</a>
        <button class="navbar-toggler text-dark" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
            <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link text-light" href="/scrape">Scrape!</a>
            <a class="nav-item nav-link text-light" href="/saved">Saved</a>
            </div>
        </div> 
    </nav>
    <div class ="background-img div-wrapper">
      <div class="full-height test d-flex justify-content-center">
        <div class="dark-screen d-flex align-items-center justify-content-center">
          <div class="container-fluid text-center">
            <div class = "row">
              <div class="col-12">
                <h1 style = "color: white">Bored Panda scraper</h1> 
              </div>
            </div>
            <div class="row scrape-btn">
              <div class="col-12">
                <a class = "btn btn-primary" href = "/scrape">scrape articles</a>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
    <div class="large-space"></div>
    <div class = "container">
      <div class= "row">
        <div id = "saved-articles" class="col-12">

        </div>
      </div>
      {{!-- <div id="notes"></div> --}}
    </div>
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
    {{!-- <script src="../app.js"></script> --}}
  </body>
</html>
