body, html {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    /* background: url(../images/dust_scratches.png); 
    background-size: cover; */
}
.navbar-style{
    border-bottom: solid 1px black;
    background: rgba(32, 32, 32, 0.664);
    
}

.background-img{
    background: url(../images/boredpanda.jpg);
    height: 70%;
    background-position: top;
    background-size: cover;
}
.div-wrapper {
    position: relative;

}
.full-height {
    height: 100%;
}
.large-space{
    width: 100%;
    height: 5em;
}

.dark-screen{
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.589);
}

.img-style{
    width: 100%;
}

.article-style{
    margin: 3em 0em;
}
.link-style{
    color: black;
}

.link-style:hover{
    text-decoration: none;
    color: rgb(148, 148, 148);
}

.delete-btn{
    background: none;
    border:none;
    color: black;
}

.comment-btn{
    color: black;
    background: none;
    border: none;
}

.comment-btn:hover{
    text-decoration: underline;
}

.black-border{
    border-top: solid 1px black;
}
.black-background{
    background: rgb(94, 94, 94);
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}
